<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ssverma.iiitkota">

    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="com.example.googlemaps.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <permission
        android:name="com.ssverma.iiitkota.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <uses-permission android:name="com.ssverma.iiitkota.permission.C2D_MESSAGE" />

    <application
        android:name=".IIITK_Singleton"
        android:allowBackup="true"
        android:icon="@drawable/splash_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="com.example.sattar.gcmchat" />
            </intent-filter>
        </receiver>

        <service
            android:name=".gcm.GCMListener"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>
        <service
            android:name=".gcm.instanceIDListener"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID" />
            </intent-filter>
        </service>
        <service
            android:name=".gcm.registrationService"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_api_key" />

        <activity
            android:name=".Home"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Faculty"
            android:label="@string/title_activity_faculty"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".NewsFeed"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Faculty_DetailedView"
            android:label="" />
        <activity
            android:name=".Programs"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Seminar_Workshop" />
        <activity
            android:name=".NewsFeed_DetialedView"
            android:label="" />
        <activity
            android:name=".Gallery"
            android:label="@string/title_activity_gallery"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Gallery_Images"
            android:label="@string/title_activity_gallery__images"
            android:theme="@style/AppTheme" />
        <activity android:name=".mapIIITK" />
        <activity
            android:name=".Program_DetailedView"
            android:label="" />
        <activity android:name=".Gallery_Detailed_View" />
        <activity
            android:name=".Campus_life"
            android:label="Campus Life" />
        <activity
            android:name=".Events"
            android:label="@string/title_activity_events" />
        <activity
            android:name=".EventsDetailedView"
            android:label="" />
        <activity android:name=".Contact" />
        <activity android:name=".Administration" />
        <activity
            android:name=".Administration_DetailedView"
            android:label="" />
        <activity
            android:name=".Campus_life_DetialedView"
            android:label=" " />

        <provider
            android:name=".sync_adapter.IIITK_ContentProvider"
            android:authorities="com.ssverma.iiitkota.sync_adapter.IIITK_ContentProvider"
            android:syncable="true" />

        <service android:name=".sync_adapter.AuthenticatorService">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>

            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>
        <service
            android:name=".sync_adapter.SyncService"
            android:exported="true"
            android:process=":sync">
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>

            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/syncadapter" />
        </service>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".AboutUs"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Scholarship"
            android:label="" />
        <activity android:name=".ScholarshipDetailedView" />
        <activity
            android:name=".SocialConnect"
            android:label="Social Connect" />
        <activity android:name=".SocialViews" />
        <activity android:name=".Fest" />
        <activity
            android:name=".Fest_DetailedView"
            android:label="" />
        <activity
            android:name=".Academic_Home"
            android:label="Academic" />
        <activity
            android:name=".Academic_Calendar"
            android:label="Academic Calendar" />
        <activity
            android:name=".Academic_Timetable"
            android:label="Academic Timetable" />
        <activity
            android:name=".Academic_Resources"
            android:label="Resources" />
        <activity
            android:name=".Academic_Research"
            android:label="Research" />
        <activity
            android:name=".Academic_ResearchDetailedView"
            android:label=" " />
        <activity
            android:name=".Academic_Courses"
            android:label="Courses" />

        <!-- Admission Module -->
        <activity android:name=".admission.Admission_Home" />
        <activity
            android:name=".admission.AdmissionProcedure"
            android:label="Admission Procedure" />
        <activity
            android:name=".admission.OfficeContacts"
            android:label="Office Contacts" />
        <activity
            android:name=".admission.HostelAdmission"
            android:label="Hostel Admission" />
        <activity
            android:name=".admission.FAQs"
            android:label="FAQs" />
        <activity
            android:name=".admission.AdmissionStatistics"
            android:label="Admission Statistics 2015-16" />
        <activity
            android:name=".admission.WriteQueries"
            android:label="Write Your Queries" />
        <activity android:name=".About_App"></activity>
    </application>

</manifest>