<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ssverma.iiitkota">

    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.example.googlemaps.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/splash_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_api_key" />

        <activity
            android:name=".Home"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".Faculty"
            android:label="@string/title_activity_faculty"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".NewsFeed"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Faculty_DetailedView"
            android:label="" />
        <activity
            android:name=".Programs"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Seminar_Workshop" />
        <activity
            android:name=".NewsFeed_DetialedView"
            android:label="" />
        <activity
            android:name=".Gallery"
            android:label="@string/title_activity_gallery"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Gallery_Images"
            android:label="@string/title_activity_gallery__images"
            android:theme="@style/AppTheme" />
        <activity android:name=".mapIIITK" />
        <activity
            android:name=".Program_DetailedView"
            android:label="" />
        <activity android:name=".Gallery_Detailed_View" />
        <activity
            android:name=".Events"
            android:label="" />
        <activity
            android:name=".EventsDetailedView"
            android:label="" />

        <provider
            android:name=".sync_adapter.IIITK_ContentProvider"
            android:authorities="com.ssverma.iiitkota.sync_adapter.IIITK_ContentProvider"
            android:syncable="true" />

        <service android:name=".sync_adapter.AuthenticatorService">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>

            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>
        <service
            android:name=".sync_adapter.SyncService"
            android:exported="true"
            android:process=":sync">
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>

            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/syncadapter" />
        </service>
        android:theme="@style/AppTheme" />
        <activity android:name=".Contact" />
        <!--
     ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".AboutUs"
            android:label="@string/title_activity_about_us"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>